In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv('./dataset/Train.csv')
df_test = pd.read_csv('./dataset/Test.csv')
df_sample = pd.read_csv('./dataset/Sample_submission.csv')

In [16]:
df_train.head(12)

                                               review label
0   mature intelligent and highly charged melodram...   pos
1   http://video.google.com/videoplay?docid=211772...   pos
2   Title: Opera (1987) Director: Dario Argento Ca...   pos
3   I think a lot of people just wrote this off as...   pos
4   This is a story of two dogs and a cat looking ...   pos
5   Steve Carell comes into his own in his first s...   pos
6   I'm only going to write more because it's requ...   neg
7   OK, it was a "risky" move to rent this flick, ...   neg
8   Cannibalism, a pair of cinematic references to...   pos
9   This is one of the great modern kung fu films....   pos
10  Steve Martin looks like he's had a face lift. ...   neg
11  Robert Jordan is a television star. Robert Jor...   pos

In [15]:
df_sample.tail(3)

        Id label
9997  9997   pos
9998  9998   pos
9999  9999   pos

In [6]:
df_test.head(3)

                                              review
0  Remember those old kung fu movies we used to w...
1  This movie is another one on my List of Movies...
2  How in the world does a thing like this get in...

In [7]:
train_reviews = df_train.review
test_reviews = df_test.review
labels = df_train.label

In [10]:
train_reviews[0]

"mature intelligent and highly charged melodrama unbelivebly filmed in China in 1948. wei wei's stunning performance as the catylast in a love triangle is simply stunning if you have the oppurunity to see this magnificent film take it"

In [8]:
from nltk.tokenize  import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [9]:
def clean_view(text):
    ps = PorterStemmer()
    tokenizer = RegexpTokenizer('[a-zA-Z]+')
    stopword = set(stopwords.words('english'))
    text = text.lower()
    tokens = tokenizer.tokenize(text)
    new_token = [ps.stem(token) for token in tokens if token not in stopword] # stemming and stopword removing
    return ' '.join(new_token)

In [17]:
clean_train = [clean_view(each) for each in train_reviews]

In [18]:
clean_test = [clean_view(each) for each in test_reviews]

### vectorization

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(ngram_range=(2, 2))
tf.fit(clean_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(2, 2), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [20]:
x_train = tf.transform(clean_train)
x_test = tf.transform(clean_test)

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(labels)

### Applying Naive Bayes Classifier

In [26]:
from sklearn.naive_bayes import GaussianNB
model = G()

In [27]:
model.fit(x_train, y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [28]:
model.score(x_train, y)

0.996125

In [25]:
pred = model.predict(x_test)